name: Build LaTeX document
on: [push]
jobs:
  build_latex:
    runs-on: ubuntu-latest
    steps:
      - name: Set up Git repository
        uses: actions/checkout@v4
        with:
          lfs: true
      - name: Compile LaTeX document
        uses: xu-cheng/latex-action@v4
        continue-on-error: true
        with:
          root_file: main.tex
          latexmk_use_lualatex: true
      - name: Upload PDF file
        uses: actions/upload-artifact@v5
        with:
          name: PDF
          path: main.pdf
